.logo {

  width: 90px;
  height: 38px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:disabled, &:active {
    opacity: 0.3;
  }
}

.logo__img {
  max-width: 100%;
}


@media (min-width: $tablet-width) {
  .logo{
    width: 112px;
    height: 47px;
  }
}

@media (min-width: $desktop-width) {

}
