.mishka {
}

.mishka__hero {
  background-color: #f9f9f9;
}

.mishka__title-wrap {
  min-height: 282px;
  padding-top: 70px;

  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url("../img/hero-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 1150px auto;
  }

}

.mishka__title {
  text-align: center;
  line-height: 1.13;
}

@media (min-width: $tablet-width) {
  .mishka__hero {
    min-height: 715px;
    display: flex;
    flex-direction: column;

    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 2300px auto;
    }

    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center bottom;
      background-repeat: repeat-x;
      background-size: contain;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .mishka__title-wrap {
    min-height: 585px;
    padding-top: 120px;
    flex: 1;

    background-image: none;

  }

  .mishka__title {
    width: 505px;
    font-size: 43px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .mishka__hero {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .mishka__title {
    width: 620px;
    font-size: 53px;
  }
}

